html
    head
        title
            RSVP Form

    body
        form(
            action= "/"     
            method="get"
            enctype="multipart/form-data"
        )
            h1
                RSVP RSVP Here!        

            div 
                label(
                for="Name"
                type="text"
                id="name"
            )   
                | Guest Name  
                input(type="text" name="guest_name" value=" ")
                

            div
                label(
                for="email"
                id="email"
            )  
                | Guest E-mail
                input(type="text" name="guest_email" value= " ")
                

            div
                label(
                for="attending"  
                id="attending"
            )
                | Response:
                | I'll be there
                input(type="radio" name="guest_attendance" value="yes")
                | I can't make it                
                input(type="radio" name="guest_attendance" value="no")


            div               
                label(
                    for="number"
                    id="number"
                    name="total_party"
                ) 
                | How many guests in your party?     
                select  
                        option(value="1") one
                        option(value="2") two
                        option(value="3") three
                        option(value="4") four
                        option(value="5") five
                        option(value="6") six
                        option(value="7") seven
                        option(value="8") eight                   

            button(
                type= 'Submit'
                style= 'width= 20px; height: 10px'
                ) upload 

                