html
    head
        title
            RSVP Form

    body
        form(
            action= "/reply"     
            method="post"
            
        )
            h1
                RSVP RSVP Here!        

            div 
                label(
                for="Name"
                type="text"
                id="name"
            )   
                | Guest Name  
                input(type="text" name="name" value=" ")
                

            div
                label(
                for="email"
                id="email"
            )  
                | Guest E-mail
                input(type="text" name="email" value= " ")
                

            div
                label(
                for="attending"  
                id="attending"
            )
                | Response:
                | I'll be there
                input(type="radio" name="attending" value="true")
                | I can't make it                
                input(type="radio" name="attending" value="false")


            div               
                label(
                    for="number"
                    id="number"
                    
                ) 
                | How many guests in your party?     
                select  
                        option(value="1" name="guests") one
                        option(value="2" name="guests") two
                        option(value="3" name="guests") three
                        option(value="4" name="guests") four
                        option(value="5" name="guests") five
                        option(value="6" name="guests") six
                        option(value="7" name="guests") seven
                        option(value="8" name="guests") eight                   
            div
                button(
                    type='submit'
                    style='width= 20px; height: 10px'
                    ) submit 